@import "_imports";


/*	BASIC LAYOUT
	============
	
*/

body {
	margin: 0 auto;
	max-width: 900px;
}


.u-lAside {
	width: 25%;
	float: right;
}
.u-lContent {
	width: 75%;
	float: left;
}
.u-lFooter {
	display: block;
	clear: both;
}
.u-lMain {
	overflow: hidden;
	width: 80%;
	float: right;
}
.u-NavSite {
	width: 20%;
	float: left;
}