
/*	BASICS
	======

	Contains generic classes

*/

/*	RESET
	-----
	Some simple resets
*/

b {
	/*	I use "b" as a generic tag; I don't want all b tags to be bold */
	font-weight: normal;
}



.hidden {
	position: absolute;
	visibility: hidden;
}