@import "_imports";


/*	BASIC TYPOGRAPHY
	================

	This file contains typography only for basic HTML tags. No
	classes, WP-specific things, or anything else. The most basic
	type stylesheet imaginable.	
	
*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: .5em;
}
html {
	font-family: $sans-serif;
}
p {
	margin-top: 0;
	font: 1.2em/1.4 $serif;
}