/*	Your main config file. Variables that control all modules go here. */
/*	Blogpost module
	---------------
	
	
*/
/*	WRITE OUT ALL TASKS TO FINISH THE POST DESIGN */
/*	CONFIG
	------
	Cut and paste these variables into your central _config file. */
/*	CODE
	----
	Don't trouble yourself with this.
*/
.label {
  display: inline;
  font: normal 1em Helvetica; }

.post-categories,
.post__tags {
  margin: 0;
  padding: 0;
  display: inline; }

.post-categories li,
.post__tags li {
  list-style: none;
  display: inline; }

.post__date {
  font: 0.9em Helvetica; }

.post__title {
  font: bold 1.8em Helvetica; }

.post {
  position: relative; }

.post__catContainer,
.post__tagsContainer {
  position: absolute;
  top: 100%;
  left: 0; }

/*	Sidebar modules
	---------------
*/
/*	CONFIG
	------
	Cut and paste these variables into your central _config file.
*/
/*	CODE
	----
	Don't trouble yourself with this.
*/
.widget__title {
  font: bold 1em Helvetica; }

.widget ul {
  margin: 0;
  padding: 0; }
.widget ul li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.u-lAside .widget {
  margin-bottom: 1.6em; }

/*	SEARCH
	======





*/
/*	CONFIG
	------
	Cut and paste these variables into your central _config file.
*/
/*	CODE
	----
	Don't trouble yourself with this.
*/
.search-form {
  position: relative;
  height: 2em; }

.search-form input {
  -webkit-appearance: none;
  border: none;
  background: transparent; }

.search-field {
  position: absolute;
  width: 80%;
  left: 0;
  top: 0;
  height: 100%; }

.search-submit {
  position: absolute;
  width: 20%;
  right: 0;
  height: 100%; }

/*	Nav module
	==========
	
	This module displays vertical, hierarchical nav
*/
/*	CONFIG
	------
	Cut and paste these variables into your central _config file. */
/*	CODE
	----
	Don't trouble yourself with this.
*/
/*	BASICS
	======

	Contains generic classes

*/
/*	RESET
	-----
	Some simple resets
*/
b {
  /*	I use "b" as a generic tag; I don't want all b tags to be bold */
  font-weight: normal; }

.hidden, .screen-reader-text {
  position: absolute;
  visibility: hidden; }

/*	Your main config file. Variables that control all modules go here. */
/*	Blogpost module
	---------------
	
	
*/
/*	WRITE OUT ALL TASKS TO FINISH THE POST DESIGN */
/*	CONFIG
	------
	Cut and paste these variables into your central _config file. */
/*	CODE
	----
	Don't trouble yourself with this.
*/
.label {
  display: inline;
  font: normal 1em Helvetica; }

.post-categories,
.post__tags {
  margin: 0;
  padding: 0;
  display: inline; }

.post-categories li,
.post__tags li {
  list-style: none;
  display: inline; }

.post__date {
  font: 0.9em Helvetica; }

.post__title {
  font: bold 1.8em Helvetica; }

.post {
  position: relative; }

.post__catContainer,
.post__tagsContainer {
  position: absolute;
  top: 100%;
  left: 0; }

/*	Sidebar modules
	---------------
*/
/*	CONFIG
	------
	Cut and paste these variables into your central _config file.
*/
/*	CODE
	----
	Don't trouble yourself with this.
*/
.widget__title {
  font: bold 1em Helvetica; }

.widget ul {
  margin: 0;
  padding: 0; }
.widget ul li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.u-lAside .widget {
  margin-bottom: 1.6em; }

/*	SEARCH
	======





*/
/*	CONFIG
	------
	Cut and paste these variables into your central _config file.
*/
/*	CODE
	----
	Don't trouble yourself with this.
*/
.search-form {
  position: relative;
  height: 2em; }

.search-form input {
  -webkit-appearance: none;
  border: none;
  background: transparent; }

.search-field {
  position: absolute;
  width: 80%;
  left: 0;
  top: 0;
  height: 100%; }

.search-submit {
  position: absolute;
  width: 20%;
  right: 0;
  height: 100%; }

/*	Nav module
	==========
	
	This module displays vertical, hierarchical nav
*/
/*	CONFIG
	------
	Cut and paste these variables into your central _config file. */
/*	CODE
	----
	Don't trouble yourself with this.
*/
/*	BASIC TYPOGRAPHY
	================

	This file contains typography only for basic HTML tags. No
	classes, WP-specific things, or anything else. The most basic
	type stylesheet imaginable.	
	
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: .5em; }

html {
  font-family: Helvetica; }

p {
  margin-top: 0;
  font: 1.2em/1.4 Georgia; }

/*	Your main config file. Variables that control all modules go here. */
/*	Blogpost module
	---------------
	
	
*/
/*	WRITE OUT ALL TASKS TO FINISH THE POST DESIGN */
/*	CONFIG
	------
	Cut and paste these variables into your central _config file. */
/*	CODE
	----
	Don't trouble yourself with this.
*/
.label {
  display: inline;
  font: normal 1em Helvetica; }

.post-categories,
.post__tags {
  margin: 0;
  padding: 0;
  display: inline; }

.post-categories li,
.post__tags li {
  list-style: none;
  display: inline; }

.post__date {
  font: 0.9em Helvetica; }

.post__title {
  font: bold 1.8em Helvetica; }

.post {
  position: relative; }

.post__catContainer,
.post__tagsContainer {
  position: absolute;
  top: 100%;
  left: 0; }

/*	Sidebar modules
	---------------
*/
/*	CONFIG
	------
	Cut and paste these variables into your central _config file.
*/
/*	CODE
	----
	Don't trouble yourself with this.
*/
.widget__title {
  font: bold 1em Helvetica; }

.widget ul {
  margin: 0;
  padding: 0; }
.widget ul li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.u-lAside .widget {
  margin-bottom: 1.6em; }

/*	SEARCH
	======





*/
/*	CONFIG
	------
	Cut and paste these variables into your central _config file.
*/
/*	CODE
	----
	Don't trouble yourself with this.
*/
.search-form {
  position: relative;
  height: 2em; }

.search-form input {
  -webkit-appearance: none;
  border: none;
  background: transparent; }

.search-field {
  position: absolute;
  width: 80%;
  left: 0;
  top: 0;
  height: 100%; }

.search-submit {
  position: absolute;
  width: 20%;
  right: 0;
  height: 100%; }

/*	Nav module
	==========
	
	This module displays vertical, hierarchical nav
*/
/*	CONFIG
	------
	Cut and paste these variables into your central _config file. */
/*	CODE
	----
	Don't trouble yourself with this.
*/
/*	BASIC LAYOUT
	============
	
*/
body {
  margin: 0 auto;
  max-width: 900px; }

.u-lAside {
  width: 25%;
  float: right; }

.u-lContent {
  width: 75%;
  float: left; }

.u-lFooter {
  display: block;
  clear: both; }

.u-lMain {
  overflow: hidden;
  width: 80%;
  float: right; }

.u-NavSite {
  width: 20%;
  float: left; }
