
/*	Sidebar modules
	---------------
*/





/*	CONFIG
	------
	Cut and paste these variables into your central _config file.
*/

$widget__title-font: bold 1em $sans-serif;




/*	CODE
	----
	Don't trouble yourself with this.
*/

.widget__title {
	font: $widget__title-font;
}
.widget {
	ul {
		margin: 0;
		padding: 0;
	}
	ul li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}


}
.u-lAside {
	.widget {
		margin-bottom: 1.6em;
	}
}


























